working n8n-qdrant-ollama
{
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $json.sessionId }}",
          "mode": "id"
        },
        "embeddingBatchSize": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        -404,
        590
      ],
      "id": "4358a82b-f6dd-4aa1-83f4-c7e2456e7748",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "K2XlVCfs7I5qgEfm",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -420,
        810
      ],
      "id": "28553efe-942c-4b0f-b1e9-16a8c3e8803d",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "NAyC2cKrVYTvHvII",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -300,
        812.5
      ],
      "id": "a84f3925-7784-46db-943d-72765e05dadb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        -212,
        1010
      ],
      "id": "fb8f913e-5793-41e7-bd41-5fbd713d5196",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -860,
        415
      ],
      "id": "ca08fb74-59cc-494a-b6a0-9bfeb39946f1",
      "name": "When chat message received",
      "webhookId": "7f2f3e1b-9ba8-4dc3-9c3a-8892d0b28a63"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "As a highly specialized AI assistant, my primary function is to retrieve relevant information from the vector database to answer user queries. When responding, I must access and utilize only the exact content stored in the database, without relying on external knowledge sources or making assumptions. Please instruct me to use the vector database tool to search for matching embeddings and provide context-specific answers. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        108,
        415
      ],
      "id": "57823811-8059-477f-9716-7ad27584b2ab",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        76,
        635
      ],
      "id": "b28b280a-ef28-4ffd-bb6a-233606fef5b6",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "NAyC2cKrVYTvHvII",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "name": "Knowledgebase",
        "description": "the knowledge base to answer use questions"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        316,
        637.5
      ],
      "id": "9ed177dc-48fd-4ee1-9f84-149de97e0c3b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('When chat message received').item.json.sessionId }} {{ $('When chat message received').item.json.sessionId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        212,
        837.5
      ],
      "id": "aebc61ca-3c19-4d5b-844a-c91234d83266",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "K2XlVCfs7I5qgEfm",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        300,
        1035
      ],
      "id": "f6bf6dcd-a220-4796-822f-a8b8ddc71be4",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "NAyC2cKrVYTvHvII",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        508,
        835
      ],
      "id": "5008d7ed-0b2a-4a42-a155-f01d4f399e84",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "NAyC2cKrVYTvHvII",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        196,
        635
      ],
      "id": "c4cccdcc-f640-4bee-afc4-c517e1a8cadf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b57b8a03-81c2-46a2-b1ba-0a32d95e6ae8",
              "leftValue": "={{ $json.files }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        415
      ],
      "id": "af296518-90c8-4d55-8bc3-ad3948620928",
      "name": "If"
    }
  ],
  "connections": {
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "498b2b92b564115cf4dc04387ffa4b1e74eb73f8940868925598263fcf96e409"
  }
}
